<a href="https://colab.research.google.com/github/Hassan-293/KNN-model-for-Loan-processing/blob/main/KNN_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt 
import seaborn as sns

**Data Loading**

In [18]:
df = pd.read_csv('My_clean_test_data.csv')
print(df.head())

   Unnamed: 0  ListingNumber ListingCreationDate  Term  target  \
0      102795         415054           4/28/2009    36       1
1       97545         415123           4/28/2009    36       1
2       17774         415116           4/28/2009    36       1
3         528         415089           4/28/2009    36       1
4      102440         415070           4/28/2009    36       1

        ClosedDate  BorrowerAPR  BorrowerRate  LenderYield  \
0   7/18/2011 0:00      0.37453        0.3500       0.3400
1  11/22/2011 0:00      0.18021        0.1480       0.1380
2   9/15/2010 0:00      0.19846        0.1615       0.1515
3   11/4/2010 0:00      0.17170        0.1500       0.1400
4    5/7/2012 0:00      0.26292        0.2400       0.2300

   EstimatedEffectiveYield  ...  LP_ServiceFees  LP_CollectionFees  \
0                      0.0  ...            0.00                0.0
1                      0.0  ...            0.00                0.0
2                      0.0  ...            0.00                0.0
3                      0.0  ...          -39.43                0.0
4                      0.0  ...            0.00                0.0

   LP_GrossPrincipalLoss  LP_NetPrincipalLoss  \
0                    0.0                  0.0
1                    0.0                  0.0
2                    0.0                  0.0
3                    0.0                  0.0
4                    0.0                  0.0

   LP_NonPrincipalRecoverypayments  PercentFunded  Recommendations  \
0                              0.0            1.0                0
1                              0.0            1.0                0
2                              0.0            1.0                0
3                              0.0            1.0                0
4                              0.0            1.0                0

   InvestmentFromFriendsCount  InvestmentFromFriendsAmount  Investors
0                           0                          0.0         49
1                           0                          0.0         47
2                           0                          0.0         27
3                           0                          0.0        220
4                           0                          0.0         47

[5 rows x 76 columns]

Dropping all the null values for dataframe

In [19]:
df.dropna()

,Unnamed: 0,ListingNumber,ListingCreationDate,Term,target,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,EstimatedEffectiveYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,102795,415054,4/28/2009,36,1,7/18/2011 0:00,0.37453,0.3500,0.3400,0.00000,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,49
1,97545,415123,4/28/2009,36,1,11/22/2011 0:00,0.18021,0.1480,0.1380,0.00000,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,47
2,17774,415116,4/28/2009,36,1,9/15/2010 0:00,0.19846,0.1615,0.1515,0.00000,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,27
3,528,415089,4/28/2009,36,1,11/4/2010 0:00,0.17170,0.1500,0.1400,0.00000,...,-39.43,0.0,0.0,0.0,0.0,1.0,0,0,0.0,220
4,102440,415070,4/28/2009,36,1,5/7/2012 0:00,0.26292,0.2400,0.2300,0.00000,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77579,16643,1252503,3/10/2014,60,0,9999-99-99,0.15817,0.1350,0.1250,0.11858,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
77580,11498,1252413,3/10/2014,60,0,9999-99-99,0.16840,0.1450,0.1350,0.12730,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,99
77581,104205,1252770,3/10/2014,36,0,9999-99-99,0.09469,0.0809,0.0709,0.06919,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,88
77582,59307,1252494,3/10/2014,60,0,9999-99-99,0.16482,0.1415,0.1315,0.12424,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
77583,64766,1252650,3/10/2014,60,0,9999-99-99,0.15817,0.1350,0.1250,0.11858,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1

Calculating the sums of the values which has null values

In [20]:
missing_values_count = df.isnull().sum()
missing_values_count[0:10]

Unnamed: 0                 0
ListingNumber              0
ListingCreationDate        0
Term                       0
target                     0
ClosedDate                 0
BorrowerAPR                0
BorrowerRate               0
LenderYield                0
EstimatedEffectiveYield    0
dtype: int64

In [21]:
columns_with_na_dropped =df.dropna(axis=1)
columns_with_na_dropped.head()

,Unnamed: 0,ListingNumber,ListingCreationDate,Term,target,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,EstimatedEffectiveYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,102795,415054,4/28/2009,36,1,7/18/2011 0:00,0.37453,0.3500,0.3400,0.0,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,49
1,97545,415123,4/28/2009,36,1,11/22/2011 0:00,0.18021,0.1480,0.1380,0.0,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,47
2,17774,415116,4/28/2009,36,1,9/15/2010 0:00,0.19846,0.1615,0.1515,0.0,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,27
3,528,415089,4/28/2009,36,1,11/4/2010 0:00,0.17170,0.1500,0.1400,0.0,...,-39.43,0.0,0.0,0.0,0.0,1.0,0,0,0.0,220
4,102440,415070,4/28/2009,36,1,5/7/2012 0:00,0.26292,0.2400,0.2300,0.0,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,47

In [22]:
pd.DataFrame(df).fillna(0)

,Unnamed: 0,ListingNumber,ListingCreationDate,Term,target,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,EstimatedEffectiveYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,102795,415054,4/28/2009,36,1,7/18/2011 0:00,0.37453,0.3500,0.3400,0.00000,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,49
1,97545,415123,4/28/2009,36,1,11/22/2011 0:00,0.18021,0.1480,0.1380,0.00000,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,47
2,17774,415116,4/28/2009,36,1,9/15/2010 0:00,0.19846,0.1615,0.1515,0.00000,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,27
3,528,415089,4/28/2009,36,1,11/4/2010 0:00,0.17170,0.1500,0.1400,0.00000,...,-39.43,0.0,0.0,0.0,0.0,1.0,0,0,0.0,220
4,102440,415070,4/28/2009,36,1,5/7/2012 0:00,0.26292,0.2400,0.2300,0.00000,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77579,16643,1252503,3/10/2014,60,0,9999-99-99,0.15817,0.1350,0.1250,0.11858,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
77580,11498,1252413,3/10/2014,60,0,9999-99-99,0.16840,0.1450,0.1350,0.12730,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,99
77581,104205,1252770,3/10/2014,36,0,9999-99-99,0.09469,0.0809,0.0709,0.06919,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,88
77582,59307,1252494,3/10/2014,60,0,9999-99-99,0.16482,0.1415,0.1315,0.12424,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
77583,64766,1252650,3/10/2014,60,0,9999-99-99,0.15817,0.1350,0.1250,0.11858,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1

In [23]:
df = df.reset_index()

In [24]:
np.isnan(df.any()) #and gets False
np.isfinite(df.all()) #and gets True

index                          True
Unnamed: 0                     True
ListingNumber                  True
ListingCreationDate            True
Term                           True
                               ...
PercentFunded                  True
Recommendations                True
InvestmentFromFriendsCount     True
InvestmentFromFriendsAmount    True
Investors                      True
Length: 77, dtype: bool

**Dropping the Unwanted values or columns**

In [28]:
del df['ClosedDate']
del df['DateCreditPulled']

In [29]:
del df['LoanOriginationDate']
del df['FirstRecordedCreditLine']
del df['ListingCreationDate']

In [59]:
X = df.iloc[:, :-1].values
Y = df.iloc[:, 4].values

**Spliiting the train and test data**

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20)

In [61]:
scalar= StandardScaler()
scalar.fit(X_train)
X_train = scalar.transform(X_train)
X_test = scalar.transform(X_test)

In [62]:
classifier = KNeighborsClassifier(n_neighbors = 10, metric='euclidean')
classifier.fit(X_train, y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=10)

In [63]:
y_pred = classifier.predict(X_test)

In [64]:
from sklearn.metrics import classification_report , confusion_matrix
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.97      0.99      0.98     11691
           1       0.98      0.91      0.94      3826

    accuracy                           0.97     15517
   macro avg       0.98      0.95      0.96     15517
weighted avg       0.97      0.97      0.97     15517

[[11630    61]
 [  348  3478]]